@import "tailwindcss";
@import "@fontsource/pacifico";

@theme {
    --color-primary: #E50914;
    --color-secondary: #FFFFFF;
    --color-midnight: #0D0D0D;

    --font-disney: 'Pacifico', cursive;
    --font-sans: ["Inter", "Arial", "sans-serif"]
}

/* *{
    background-color: var(--color-midnight);
} */

/* Hide scrollbar for Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
